.form {
  display: flex;
  flex-direction: column;
  outline: auto;
   padding: 10px;
   margin-bottom: 14px;
}

.inputText {
   width: 240px;
  margin-bottom: 14px;
}

.inputNum {
  margin-bottom: 12px;
}

.btnAddContact {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 88px;
  height: 24px;
  margin-bottom: 26px;
}
