.form {
  display: flex;
  flex-direction: column;
  outline: auto;
   padding: 10px;
   margin-bottom: 14px;
}

.inputText {
   width: 240px;
}



.labelNum {
  margin-top: 14px;
}

.btnAddContact {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 88px;
  height: 24px;
  margin-bottom: 10px;
  margin-top: 18px;
}
